.mid {
    text-align: center;
    vertical-align: middle;
}

.col {
    border: 1px solid black;
}

.inputField {
    width: 30%;
    left: 35%;
}

.saveButton {
    left: 35%;
}

.noSpinner,input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-error{
    outline: 1px solid red;
}

.table-bordered {
    border: 1px solid #ddd !important;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  @media screen and (max-width: 767px) {
    table caption {
      display: none;
    }
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }
/*
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}*/
  